<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="template.css">
<script type="text/javascript" src="html2canvas.min.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<head>
<title>Encounter Builder</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", function() {
		//addBackground();
		});
	
	
	function ajaxPushImage(canvas){
		/*<![CDATA[*/
			var name = /*[[${encounterForm.name}]]*/ 'default';
		/*]]>*/

			
		var data ='canvas=' + name + ',' + encodeURIComponent(canvas);
		
		 $.ajax({
             url : 'encounterbuilder/push',
             data : data,
             cache: false,
             type : "POST",

             success : function(response) {
                 alert( response );
             },
             error : function(xhr, status, error) {
                 alert(xhr.responseText);
             }
         });
	}
	
	function addBackground(){
		/*<![CDATA[*/
		
		    var url = /*[[${encounterForm.background}]]*/ 'default';
			var img = new Image();
			img.crossOrigin = "anonymous";
			img.src = url;
			
			var divFrame = document.getElementById('divFrame');
			divFrame.appendChild(img);
			
		/*]]>*/
		
	}
		
	function captureCard(){
		html2canvas(document.querySelector("#capture"),
				{allowTaint: false}
		).then(canvas => {
			var style = canvas.style;
			style.marginLeft = "auto";
			style.marginRight = "auto";
			canvas.id = "h2canvas";
		    document.body.appendChild(canvas)
		    var parentStyle = canvas.parentElement.style;
			parentStyle.textAlign = "center";
		});
	}
	
	
	function pushImage(){
		var canv = document.getElementById('h2canvas');
		var content = canv.toDataURL("image/png");
		// Creates a new file (or updates it if the file already exists)
		// with the content provided
		/* repository.write(
		   'master', // e.g. 'master'
		   'images/image_1.png', // e.g. 'blog/index.md'
		   content, // e.g. 'Hello world, this is my new content'
		   'Web submitted image', // e.g. 'Created new index'
		   function(err) {
			   alert('error');
		   }
		);
		*/
		ajaxPushImage(content);
	}
</script>



	<h1>Result</h1>
	<div class="card-container" id="capture">

		<div class="card-background">

			<div class="card-frame">

				<div class="frame-header">
					<h1 class="name" th:text="${encounterForm.name}">Name</h1>

					<i th:text=" '(' + ${encounterForm.type} + ')'">(type) </i> 
					<i id="gold-icon" th:text="${encounterForm.gold}">1</i>
				</div>

				<!-- Direct link to image art contained in double quotes -->
				<img id="frame" class="frame-art" alt="art"
					th:src="${encounterForm.background}">


				<div id="divFrame"></div>

				<div class="frame-type-line">
					<h1 class="type" th:text="${encounterForm.rarity}">
						<!-- Card Type -->
						Common Creature

					</h1>

					<h1 class="stats"
						th:text="'&#9829;' + ${encounterForm.toughness} + '&nbsp;&nbsp; &#9876;' + ${encounterForm.power}">
					</h1>

				</div>

				<!-- Card Text Box
				classes: description, flavour-text
			  -->
				<div class="frame-text-box">
					<p class="description ftb-inner-margin"
						th:text="${encounterForm.description}"></p>
					<p class="flavour-text" th:text="${encounterForm.flavor}"></p>
				</div>

				<div class="frame-bottom-info inner-margin">
					<div class="fbi-left">

						<p th:text="${encounterForm.print}">
							<!-- Print Run -->
							1st Ed Test Run
						</p>

						<p>
							TST &#x2022;
							<!-- Artist Name -->
						<p th:text="${encounterForm.artist}" th:remove="tag">Artist
							Name</p>
						</p>
					</div>

					<div class="fbi-center"></div>

					<div class="fbi-right">&#x99; &amp; &#169; 2018 <br/> Project
						Moneybags</div>
				</div>

			</div>

		</div>

	</div>

	<input type="button" value="Save" onclick="captureCard()" />
	<input type="button" value="Submit" onclick="pushImage()" />
	<br />

</body>